@tailwind base;
@tailwind components;
@tailwind utilities;


html{
font-family: 'Montserrat';
font-style: italic;
font-weight: 700;
font-size: 22px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
color: #D2D3DF;
}


.main{
    /* background-color: black;
    color: azure; */
    position: relative;
width: 1920px;
height: 1080px;

background: #1F1F23;
border-radius: 25px;
}

.siderbarMain{
    position: absolute;
    width: 100px;
    height: 1080px;
    left: 0px;
    top: 0px;
    
    background: #272C34;
    border-radius: 15px 0px 0px 15px;
}
.childrenMainBar{
    position: absolute;
    width: 1820px;
    height: 990px;
    left: 100px;
    top: 90px;
    
    background: #1F1F23;
}
.childrenInternalBar{
    position: absolute;
    width: 1780px;
    height: 970px;
    left: 120px;
    top: 90px;
    
    background: #272C34;
    border-radius: 15px;
}
.topNavBar{
    position: absolute;
width: 1820px;
height: 90px;
left: 100px;
top: 0px;

background: #1F1F23;
}

.side{
    position: absolute;
width: 600px;
height: 970px;
left: 1200px;
background: #303640;
border-radius: 15px 15px 15px 0px;
}
.sideImageBox{
    position: absolute;
width: 559px;
height: 312px;
background: url('https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
border-radius: 6px;
color: aliceblue;
background-size: cover;
margin: 10px;
margin-bottom: 47px;
}
.sideImage{
    position: absolute;
width: 600px;
height: 380px;


background: #39404B;
border-radius: 15px 15px 0px 0px;
}

.cardInSideBar{
    /* position: absolute; */
width: 559px;
height: 80px;
background: #39404B;
border-radius: 15px;
padding: 20px;
margin: auto;
margin-block: 5px;

}
.formInput{
    background: #39404B;
border-radius: 15px;
margin-bottom: 10px;
}